### Project Files ###

cache/
config.json

### Python ###

venv/
__pycache__/

### Windows ###

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###

.*
!.gitignore
!.gitattributes
*~

### OSX ###

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
